header

    .row
        #line-left.col-xs-6
        #line-right.col-xs-6

    div
        #navigation.row
            .col-xs-6.logo
                a(ui-sref="app.index")
                    #logo
            .col-xs-6.menu-buttons
                a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href='#')

