header

    #line-right
        background $color-green
        height 8px

    #line-left
        background $color-red
        height 8px

    .middle
        text-align center

    #logo
        background url(../images/logo-text-black.svg) no-repeat
        background-size 111px
        width 111px
        height 40px
        float left
