doctype html
html.ng-cloak(ng-app="app")
    head
        base(href="/")
        include includes/meta

        title Vidatio
        include includes/styl

    body.container-fluid

        .wrapper(ng-controller="AppCtrl")
            include header

            .app-view(ui-view)

            include footer
            include includes/js
