.container-fluid
    .checkboxes.ui-widget-content
        h2 Schadstoffe
        div(ng-repeat="parameter in selection")
            label
                input(type="checkbox" ng-init="parameter.checked=true" ng-model="parameter.checked" ng-change="toggleParameter(parameter)")
                | {{ ' ' + parameter.name | capitalize }}
    .row
        .col-xs-12
            h1 Luftgüte Salzburg Land - 2014
    .row
        .col-xs-6
            h2 Schadstoffe (Durchschnitte pro Monat)
            #line-chart

            h2 Karte (Messstationen & Durchschnitte pro Jahr)
            leaflet(markers="markers" center="center" width="100%" height="480px")
        .col-xs-6
            h2 Schadstoffe (Messstationen & Durchschnitte pro Jahr)
            #bar-charts

