#landing-page
    .container-fluid
        .row
            .col-xs-12
                ul
                    li(ng-repeat="parameter in selection")
                        label
                            input(type="checkbox" ng-model="parameter.checked" ng-change="redraw(parameter)")
                            | {{ parameter.name }}

        .row
            .col-sm-6
                #chart
            .col-sm-6
                leaflet(markers="markers" center="center" width="100%" height="480px")
