.container-fluid
    .row
        .col-xs-12
            h1 Luftgüte Salzburg Land - 2014
    .row
        .col-xs-6
            #line-chart
            leaflet(markers="markers" center="center" width="100%" height="480px")
        .col-xs-6
            #bar-charts
    .row
        .col-xs-12
            ul
                li(ng-repeat="parameter in selection")
                    label
                        input(type="checkbox" ng-init="parameter.checked=true" ng-model="parameter.checked" ng-change="toggleParameter(parameter)")
                        | {{ parameter.name | capitalize }}


