#landing-page
    .container-fluid
        .row
            .col-sm-6
                #chart
            .col-sm-6
                leaflet(markers="markers" center="lisbon" width="100%" height="480px")
